<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ezen.ex02.mapper.MemberMapper">
	
	<insert id="memberJoin">
		insert into c_member values(#{memberId},#{memberName},#{memberPW},#{memberEmail},#{memberMobile})
	</insert>
	
	<select id="memberLogin" resultType="org.ezen.ex02.domain.MemberVO">
		SELECT MEMBERID, MEMBERNAME  FROM C_member where MEMBERID = #{memberId} AND MEMBERPW = #{memberPW}
	</select>
	
</mapper>