@charset "UTF-8";


	<style>
#gnb-root .light-theme { -
	-seed-static-color-static-black: #000000; -
	-seed-static-color-static-white: #ffffff; -
	-seed-static-color-static-gray-900: #212124; -
	-seed-static-color-static-carrot-50: #fff5f0; -
	-seed-static-color-static-carrot-800: #cc4700; -
	-seed-static-color-static-green-50: #e8faf6; -
	-seed-static-color-static-green-800: #008c72; -
	-seed-static-color-static-yellow-50: #fff7e6; -
	-seed-static-color-static-yellow-800: #ba5e02; -
	-seed-static-color-static-red-50: #fff3f2; -
	-seed-static-color-static-red-800: #e81300; -
	-seed-static-color-static-blue-50: #ebf7fa; -
	-seed-static-color-static-blue-800: #0a85b5; -
	-seed-static-color-static-black-alpha-200: #00000033; -
	-seed-static-color-static-black-alpha-500: #00000080; -
	-seed-static-color-static-white-alpha-50: #ffffff0d; -
	-seed-static-color-static-white-alpha-200: #ffffff33; -
	-seed-semantic-color-on-primary: var(- -seed-static-color-static-white);
	-
	-seed-semantic-color-overlay-low: var(- -seed-static-color-static-black-alpha-200);
	-
	-seed-semantic-color-overlay-dim: var(- -seed-static-color-static-black-alpha-500);
	-
	-seed-semantic-color-on-primary-overlay-50: var(- -seed-static-color-static-white-alpha-50);
	-
	-seed-semantic-color-on-primary-overlay-200: var(- -seed-static-color-static-white-alpha-200);
	-
	-seed-scale-dimension-font-size-10: 10px; -
	-seed-scale-dimension-font-size-25: 11px; -
	-seed-scale-dimension-font-size-50: 12px; -
	-seed-scale-dimension-font-size-75: 13px; -
	-seed-scale-dimension-font-size-100: 14px; -
	-seed-scale-dimension-font-size-150: 15px; -
	-seed-scale-dimension-font-size-200: 16px; -
	-seed-scale-dimension-font-size-300: 18px; -
	-seed-scale-dimension-font-size-400: 20px; -
	-seed-scale-dimension-font-size-500: 24px; -
	-seed-scale-dimension-font-size-600: 26px; -
	-seed-scale-dimension-font-size-700: 32px; -
	-seed-scale-dimension-font-size-800: 34px; -
	-seed-scale-dimension-font-size-900: 42px; -
	-seed-scale-dimension-font-size-1000: 48px; -
	-seed-scale-dimension-font-size-1100: 54px; -
	-seed-scale-dimension-font-size-1200: 60px; -
	-seed-scale-dimension-font-size-1300: 72px; -
	-seed-semantic-typography-h1-font-size: var(- -seed-scale-dimension-font-size-1000);
	-
	-seed-semantic-typography-h2-font-size: var(- -seed-scale-dimension-font-size-900);
	-
	-seed-semantic-typography-h3-font-size: var(- -seed-scale-dimension-font-size-800);
	-
	-seed-semantic-typography-h4-font-size: var(- -seed-scale-dimension-font-size-600);
	-
	-seed-semantic-typography-title1-bold-font-size: var(- -seed-scale-dimension-font-size-500);
	-
	-seed-semantic-typography-title1-regular-font-size: var(- -seed-scale-dimension-font-size-500);
	-
	-seed-semantic-typography-title2-bold-font-size: var(- -seed-scale-dimension-font-size-400);
	-
	-seed-semantic-typography-title2-regular-font-size: var(- -seed-scale-dimension-font-size-400);
	-
	-seed-semantic-typography-title3-bold-font-size: var(- -seed-scale-dimension-font-size-300);
	-
	-seed-semantic-typography-title3-regular-font-size: var(- -seed-scale-dimension-font-size-300);
	-
	-seed-semantic-typography-subtitle1-bold-font-size: var(- -seed-scale-dimension-font-size-200);
	-
	-seed-semantic-typography-subtitle1-regular-font-size: var(- -seed-scale-dimension-font-size-200);
	-
	-seed-semantic-typography-subtitle2-bold-font-size: var(- -seed-scale-dimension-font-size-100);
	-
	-seed-semantic-typography-subtitle2-regular-font-size: var(- -seed-scale-dimension-font-size-100);
	-
	-seed-semantic-typography-body-l1-bold-font-size: var(- -seed-scale-dimension-font-size-200);
	-
	-seed-semantic-typography-body-l1-regular-font-size: var(- -seed-scale-dimension-font-size-200);
	-
	-seed-semantic-typography-body-l2-bold-font-size: var(- -seed-scale-dimension-font-size-100);
	-
	-seed-semantic-typography-body-l2-regular-font-size: var(- -seed-scale-dimension-font-size-100);
	-
	-seed-semantic-typography-body-m1-bold-font-size: var(- -seed-scale-dimension-font-size-200);
	-
	-seed-semantic-typography-body-m1-regular-font-size: var(- -seed-scale-dimension-font-size-200);
	-
	-seed-semantic-typography-body-m2-bold-font-size: var(- -seed-scale-dimension-font-size-100);
	-
	-seed-semantic-typography-body-m2-regular-font-size: var(- -seed-scale-dimension-font-size-100);
	-
	-seed-semantic-typography-caption1-bold-font-size: var(- -seed-scale-dimension-font-size-75);
	-
	-seed-semantic-typography-caption1-regular-font-size: var(- -seed-scale-dimension-font-size-75);
	-
	-seed-semantic-typography-caption2-bold-font-size: var(- -seed-scale-dimension-font-size-50);
	-
	-seed-semantic-typography-caption2-regular-font-size: var(- -seed-scale-dimension-font-size-50);
	-
	-seed-semantic-typography-label1-bold-font-size: var(- -seed-scale-dimension-font-size-300);
	-
	-seed-semantic-typography-label1-regular-font-size: var(- -seed-scale-dimension-font-size-300);
	-
	-seed-semantic-typography-label2-bold-font-size: var(- -seed-scale-dimension-font-size-200);
	-
	-seed-semantic-typography-label2-regular-font-size: var(- -seed-scale-dimension-font-size-200);
	-
	-seed-semantic-typography-label3-bold-font-size: var(- -seed-scale-dimension-font-size-100);
	-
	-seed-semantic-typography-label3-regular-font-size: var(- -seed-scale-dimension-font-size-100);
	-
	-seed-semantic-typography-label4-bold-font-size: var(- -seed-scale-dimension-font-size-50);
	-
	-seed-semantic-typography-label4-regular-font-size: var(- -seed-scale-dimension-font-size-50);
	-
	-seed-semantic-typography-label5-bold-font-size: var(- -seed-scale-dimension-font-size-25);
	-
	-seed-semantic-typography-label5-regular-font-size: var(- -seed-scale-dimension-font-size-25);
	-
	-seed-semantic-typography-label6-bold-font-size: var(- -seed-scale-dimension-font-size-10);
	-
	-seed-semantic-typography-label6-regular-font-size: var(- -seed-scale-dimension-font-size-10);
	-
	-seed-static-font-weight-regular: normal; -
	-seed-static-font-weight-bold: bold; -
	-seed-semantic-typography-h1-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-h2-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-h3-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-h4-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-title1-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-title1-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-title2-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-title2-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-title3-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-title3-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-subtitle1-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-subtitle1-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-subtitle2-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-subtitle2-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-body-l1-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-body-l1-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-body-l2-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-body-l2-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-body-m1-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-body-m1-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-body-m2-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-body-m2-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-caption1-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-caption1-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-caption2-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-caption2-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-label1-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-label1-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-label2-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-label2-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-label3-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-label3-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-label4-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-label4-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-label5-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-label5-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-label6-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-label6-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-static-line-height-static-small: 135%; -
	-seed-static-line-height-static-medium: 150%; -
	-seed-static-line-height-static-large: 162%; -
	-seed-semantic-typography-h1-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-h2-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-h3-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-h4-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-title1-bold-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-title1-regular-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-title2-bold-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-title2-regular-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-title3-bold-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-title3-regular-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-subtitle1-bold-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-subtitle1-regular-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-subtitle2-bold-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-subtitle2-regular-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-body-l1-bold-line-height: var(- -seed-static-line-height-static-large);
	-
	-seed-semantic-typography-body-l1-regular-line-height: var(- -seed-static-line-height-static-large);
	-
	-seed-semantic-typography-body-l2-bold-line-height: var(- -seed-static-line-height-static-medium);
	-
	-seed-semantic-typography-body-l2-regular-line-height: var(- -seed-static-line-height-static-medium);
	-
	-seed-semantic-typography-body-m1-bold-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-body-m1-regular-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-body-m2-bold-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-body-m2-regular-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-caption1-bold-line-height: var(- -seed-static-line-height-static-medium);
	-
	-seed-semantic-typography-caption1-regular-line-height: var(- -seed-static-line-height-static-medium);
	-
	-seed-semantic-typography-caption2-bold-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-caption2-regular-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-label1-bold-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-label1-regular-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-label2-bold-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-label2-regular-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-label3-bold-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-label3-regular-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-label4-bold-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-label4-regular-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-label5-bold-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-label5-regular-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-label6-bold-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-label6-regular-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-scale-color-gray-00: #ffffff; -
	-seed-scale-color-gray-50: #f7f8fa; -
	-seed-scale-color-gray-100: #f2f3f6; -
	-seed-scale-color-gray-200: #eaebee; -
	-seed-scale-color-gray-300: #dcdee3; -
	-seed-scale-color-gray-400: #d1d3d8; -
	-seed-scale-color-gray-500: #adb1ba; -
	-seed-scale-color-gray-600: #868b94; -
	-seed-scale-color-gray-700: #4d5159; -
	-seed-scale-color-gray-800: #393a40; -
	-seed-scale-color-gray-900: #212124; -
	-seed-scale-color-carrot-50: #fff5f0; -
	-seed-scale-color-carrot-100: #ffe2d2; -
	-seed-scale-color-carrot-200: #ffd2b9; -
	-seed-scale-color-carrot-300: #ffbc97; -
	-seed-scale-color-carrot-400: #ff9e66; -
	-seed-scale-color-carrot-500: #ff6f0f; -
	-seed-scale-color-carrot-600: #fa6616; -
	-seed-scale-color-carrot-700: #f05705; -
	-seed-scale-color-carrot-800: #cc4700; -
	-seed-scale-color-carrot-900: #b44104; -
	-seed-scale-color-carrot-950: #a03a03; -
	-seed-scale-color-blue-50: #ebf7fa; -
	-seed-scale-color-blue-100: #d2edfa; -
	-seed-scale-color-blue-200: #b9e3fa; -
	-seed-scale-color-blue-300: #87d7ff; -
	-seed-scale-color-blue-400: #57c7ff; -
	-seed-scale-color-blue-500: #009ceb; -
	-seed-scale-color-blue-600: #0088cc; -
	-seed-scale-color-blue-700: #0077b2; -
	-seed-scale-color-blue-800: #006199; -
	-seed-scale-color-blue-900: #004c73; -
	-seed-scale-color-blue-950: #003b59; -
	-seed-scale-color-red-50: #fff3f2; -
	-seed-scale-color-red-100: #ffe5e3; -
	-seed-scale-color-red-200: #fcd2cf; -
	-seed-scale-color-red-300: #ffaca6; -
	-seed-scale-color-red-400: #ff7e75; -
	-seed-scale-color-red-500: #ff4133; -
	-seed-scale-color-red-600: #fa2314; -
	-seed-scale-color-red-700: #e81607; -
	-seed-scale-color-red-800: #a62014; -
	-seed-scale-color-red-900: #910c00; -
	-seed-scale-color-red-950: #821006; -
	-seed-scale-color-green-50: #e8faf6; -
	-seed-scale-color-green-100: #c7f2e4; -
	-seed-scale-color-green-200: #96ebc3; -
	-seed-scale-color-green-300: #6adeac; -
	-seed-scale-color-green-400: #30c795; -
	-seed-scale-color-green-500: #1aa174; -
	-seed-scale-color-green-600: #128c6e; -
	-seed-scale-color-green-700: #077a5e; -
	-seed-scale-color-green-800: #06614a; -
	-seed-scale-color-green-900: #004f40; -
	-seed-scale-color-green-950: #004034; -
	-seed-scale-color-yellow-50: #fff7e6; -
	-seed-scale-color-yellow-100: #ffe3ba; -
	-seed-scale-color-yellow-200: #facc87; -
	-seed-scale-color-yellow-300: #f7be68; -
	-seed-scale-color-yellow-400: #dea651; -
	-seed-scale-color-yellow-500: #c27f29; -
	-seed-scale-color-yellow-600: #a66c21; -
	-seed-scale-color-yellow-700: #805217; -
	-seed-scale-color-yellow-800: #6b4717; -
	-seed-scale-color-yellow-900: #593d17; -
	-seed-scale-color-yellow-950: #4d361a; -
	-seed-scale-color-pink-50: #fff5f5; -
	-seed-scale-color-pink-100: #ffdddb; -
	-seed-scale-color-pink-200: #ffbfc5; -
	-seed-scale-color-pink-300: #ffadb4; -
	-seed-scale-color-pink-400: #ff8a9d; -
	-seed-scale-color-pink-500: #f0657c; -
	-seed-scale-color-pink-600: #db4b6a; -
	-seed-scale-color-pink-700: #bd2b5c; -
	-seed-scale-color-pink-800: #991c45; -
	-seed-scale-color-pink-900: #800d3d; -
	-seed-scale-color-pink-950: #660a30; -
	-seed-scale-color-purple-50: #f6f4fe; -
	-seed-scale-color-purple-100: #e3dafe; -
	-seed-scale-color-purple-200: #d5c7ff; -
	-seed-scale-color-purple-300: #cfbfff; -
	-seed-scale-color-purple-400: #b69eff; -
	-seed-scale-color-purple-500: #9675fa; -
	-seed-scale-color-purple-600: #8361e8; -
	-seed-scale-color-purple-700: #6748c7; -
	-seed-scale-color-purple-800: #4f3699; -
	-seed-scale-color-purple-900: #3f2687; -
	-seed-scale-color-purple-950: #331e70; -
	-seed-scale-color-gray-alpha-50: #0000000d; -
	-seed-scale-color-gray-alpha-100: #0000001a; -
	-seed-scale-color-gray-alpha-200: #00000033; -
	-seed-scale-color-gray-alpha-500: #00000080; -
	-seed-scale-color-carrot-alpha-50: #ff6f0f0d; -
	-seed-scale-color-carrot-alpha-100: #ff6f0f24; -
	-seed-scale-color-carrot-alpha-200: #ff6f0f33; -
	-seed-scale-color-blue-alpha-50: #009ceb0d; -
	-seed-scale-color-blue-alpha-100: #009ceb1a; -
	-seed-scale-color-blue-alpha-200: #009ceb33; -
	-seed-scale-color-red-alpha-50: #ff41330d; -
	-seed-scale-color-red-alpha-100: #ff41331a; -
	-seed-scale-color-red-alpha-200: #ff413333; -
	-seed-scale-color-yellow-alpha-50: #f7be6814; -
	-seed-scale-color-yellow-alpha-100: #f7be6824; -
	-seed-scale-color-yellow-alpha-200: #f7be683d; -
	-seed-scale-color-green-alpha-50: #1aa1740d; -
	-seed-scale-color-green-alpha-100: #1aa17424; -
	-seed-scale-color-green-alpha-200: #1aa17433; -
	-seed-semantic-color-primary: var(- -seed-scale-color-carrot-500); -
	-seed-semantic-color-primary-low: var(- -seed-scale-color-carrot-alpha-100);
	-
	-seed-semantic-color-secondary: var(- -seed-scale-color-gray-900); -
	-seed-semantic-color-secondary-low: var(- -seed-scale-color-gray-alpha-50);
	-
	-seed-semantic-color-success: var(- -seed-scale-color-green-500); -
	-seed-semantic-color-success-low: var(- -seed-scale-color-green-alpha-50);
	-
	-seed-semantic-color-warning: var(- -seed-scale-color-yellow-400); -
	-seed-semantic-color-warning-low: var(- -seed-scale-color-yellow-alpha-100);
	-
	-seed-semantic-color-danger: var(- -seed-scale-color-red-600); -
	-seed-semantic-color-danger-low: var(- -seed-scale-color-red-alpha-50);
	-
	-seed-semantic-color-paper-sheet: var(- -seed-scale-color-gray-00); -
	-seed-semantic-color-paper-dialog: var(- -seed-scale-color-gray-00); -
	-seed-semantic-color-paper-floating: var(- -seed-scale-color-gray-00);
	-
	-seed-semantic-color-paper-contents: var(- -seed-scale-color-gray-50);
	-
	-seed-semantic-color-paper-default: var(- -seed-scale-color-gray-00); -
	-seed-semantic-color-paper-background: var(- -seed-scale-color-gray-100);
	-
	-seed-semantic-color-paper-accent: var(- -seed-scale-color-carrot-50);
	-
	-seed-semantic-color-primary-hover: var(- -seed-scale-color-carrot-400);
	-
	-seed-semantic-color-primary-pressed: var(- -seed-scale-color-carrot-400);
	-
	-seed-semantic-color-primary-low-hover: var(- -seed-scale-color-carrot-alpha-200);
	-
	-seed-semantic-color-primary-low-active: var(- -seed-scale-color-carrot-alpha-200);
	-
	-seed-semantic-color-primary-low-pressed: var(- -seed-scale-color-carrot-alpha-200);
	-
	-seed-semantic-color-gray-hover: var(- -seed-scale-color-gray-100); -
	-seed-semantic-color-gray-pressed: var(- -seed-scale-color-gray-100); -
	-seed-semantic-color-on-primary-low-overlay-50: var(- -seed-scale-color-carrot-alpha-50);
	-
	-seed-semantic-color-on-primary-low-overlay-100: var(- -seed-scale-color-carrot-alpha-100);
	-
	-seed-semantic-color-on-primary-low-overlay-200: var(- -seed-scale-color-carrot-alpha-200);
	-
	-seed-semantic-color-on-gray-overlay-50: var(- -seed-scale-color-gray-alpha-50);
	-
	-seed-semantic-color-on-gray-overlay-100: var(- -seed-scale-color-gray-alpha-100);
	-
	-seed-semantic-color-text-selection: var(- -seed-scale-color-carrot-50);
	-
	-seed-semantic-color-divider-1: var(- -seed-scale-color-gray-alpha-50);
	-
	-seed-semantic-color-divider-2: var(- -seed-scale-color-gray-200); -
	-seed-semantic-color-divider-3: var(- -seed-scale-color-gray-300); -
	-seed-semantic-color-accent: var(- -seed-scale-color-blue-500); -
	-seed-semantic-color-ink-text: var(- -seed-scale-color-gray-900); -
	-seed-semantic-color-ink-text-low: var(- -seed-scale-color-gray-600); -
	-seed-semantic-color-gray-active: var(- -seed-scale-color-gray-700)
}

#gnb-root ._1s38h9c0 {
	display: flex;
	align-items: center
}

#gnb-root ._1s38h9c1 {
	display: flex;
	justify-content: center
}

#gnb-root ._1s38h9c2 {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent
}

#gnb-root ._1s38h9c3 {
	appearance: none;
	border: 0;
	background: none;
	padding: 0
}

#gnb-root ._1s38h9c4 {
	text-decoration: none
}

#gnb-root ._1s38h9c5 {
	list-style: none;
	padding: 0;
	margin: 0
}

#gnb-root .r14vym0 {
	background: none;
	appearance: none;
	border: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	white-space: nowrap;
	box-sizing: border-box
}

#gnb-root .r14vym1 {
	color: var(- -seed-scale-color-gray-00);
	background-color: var(- -seed-scale-color-carrot-500)
}

#gnb-root .r14vym1:hover, #gnb-root .r14vym1:active {
	background-color: var(- -seed-scale-color-carrot-600)
}

#gnb-root .r14vym2 {
	color: var(- -seed-scale-color-gray-900);
	background-color: var(- -seed-semantic-color-secondary-low)
}

#gnb-root .r14vym2:hover, #gnb-root .r14vym2:active {
	background-color: var(- -seed-scale-color-gray-300)
}

#gnb-root .r14vym3 {
	color: var(- -seed-semantic-color-primary);
	background-color: var(- -seed-semantic-color-primary-low)
}

#gnb-root .r14vym3:hover, #gnb-root .r14vym3:active {
	background-color: var(- -seed-semantic-color-primary-low-pressed)
}

#gnb-root .r14vym4 {
	color: var(- -seed-scale-color-gray-900);
	background-color: transparent;
	border: 1px solid var(- -seed-scale-color-gray-400)
}

#gnb-root .r14vym4:hover, #gnb-root .r14vym4:active {
	background-color: var(- -seed-scale-color-gray-100);
	opacity: .7
}

#gnb-root .r14vym5 {
	font-weight: 700;
	line-height: 1.4;
	font-size: 1.4rem;
	width: 100%;
	min-height: 4.8rem;
	padding: 1.4rem 2rem;
	border-radius: 0.6rem
}

#gnb-root .r14vym6 {
	font-weight: 700;
	line-height: 1.4;
	font-size: 1.4rem;
	width: 100%;
	min-height: 4rem;
	padding: 1rem;
	border-radius: 0.4rem
}

#gnb-root .r14vym7 {
	font-weight: 700;
	line-height: 1.4;
	font-size: 1.4rem;
	width: fit-content;
	min-height: 3.6rem;
	padding: 0.8rem 1.4rem;
	border-radius: 0.4rem
}

#gnb-root .r14vym8 {
	font-weight: 700;
	line-height: 1.42;
	font-size: 1.1008rem;
	width: fit-content;
	min-height: 3.2rem;
	padding: 0.5rem 1rem;
	border-radius: 0.4rem
}

#gnb-root .r14vymi {
	width: 100%
}

#gnb-root .r14vymj {
	width: fit-content
}

@media ( prefers-reduced-motion : no-preference) {
	#gnb-root .r14vym0 {
		transition: background-color .15s;
		will-change: background-color
	}
}

@media screen and (min-width: 768px) {
	#gnb-root .r14vym5 {
		line-height: 1.32;
		font-size: 1.8rem;
		letter-spacing: -2%;
		min-height: 5.2rem
	}
	#gnb-root .r14vym6 {
		line-height: 1.32;
		font-size: 1.8rem;
		letter-spacing: -2%;
		min-height: 4.4rem
	}
	#gnb-root .r14vym7 {
		line-height: 1.32;
		font-size: 1.8rem;
		letter-spacing: -2%;
		min-height: 4rem
	}
	#gnb-root .r14vym8 {
		line-height: 1.4;
		font-size: 1.4rem;
		min-height: 3.4rem
	}
}

#gnb-root ._1knjz490 {
	background-color: #ffffff;	
	color: var(- -seed-scale-color-gray-900);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 100vw;
	z-index: 999
}

#gnb-root ._1knjz491 {
	padding: 1.2rem 1.6rem;
	height: 5.6rem;
	box-sizing: border-box;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto;
	position: relative
}

#gnb-root ._1knjz492 {
	display: inline-flex;
	align-items: center;
	margin-right: 4rem
}

#gnb-root ._1knjz493 {
	margin: -0.1rem 0
}

#gnb-root ._1knjz497 {
	margin-right: 1.6rem
}

#gnb-root ._1knjz498 {
	position: absolute;
	left: 0;
	width: 100%;
	padding: 0 1.6rem;
	box-sizing: border-box;
	background-color: var(- -seed-scale-color-gray-00)
}

#gnb-root ._1knjz499 {
	display: none
}

#gnb-root ._1knjz49a {
	display: block;
	margin-right: 1.6rem;
	position: relative;
	width: 100%;
	box-sizing: border-box
}

#gnb-root ._1knjz49b {
	line-height: 1.4;
	font-size: 1.4rem;
	background-color: var(- -seed-scale-color-gray-100);
	box-sizing: border-box;
	height: 4rem;
	padding: 0.9rem 1.2rem;
	border: none;
	border-radius: 0.6rem;
	width: 100%;
	color: var(- -seed-scale-color-gray-900)
}

#gnb-root ._1knjz49b:focus {
	outline: 0
}

#gnb-root ._1knjz49b::placeholder {
	color: var(- -seed-scale-color-gray-600)
}

#gnb-root ._1knjz49b::-webkit-search-cancel-button, #gnb-root ._1knjz49b::-webkit-search-decoration,
	#gnb-root ._1knjz49b::-webkit-search-results-button, #gnb-root ._1knjz49b::-webkit-search-results-decoration
	{
	display: none
}

#gnb-root ._1knjz49c {
	position: absolute;
	height: 100%;
	top: 0;
	right: 1.2rem;
	display: flex;
	align-items: center;
	cursor: pointer
}

#gnb-root ._1knjz49d {
	line-height: 1.36;
	font-size: 1.6rem;
	color: var(- -seed-scale-color-gray-900);
	white-space: nowrap;
	cursor: pointer
}

#gnb-root ._1knjz49e {
	margin-left: 0.4rem;
	transition: all ease .3s
}

#gnb-root ._1knjz49f {
	transform: rotate(-180deg);
	transition: all ease .3s
}

#gnb-root ._1knjz49g {
	flex: 1
}

#gnb-root ._1knjz49h {
	font-weight: 700;
	line-height: 150%;
	font-size: 1.4rem;
	padding: 0.55rem 1rem;
	border: 1px solid #868B94;
	border-radius: 0.6rem;
	margin-right: 0.8rem
}

#gnb-root ._1knjz49j {
	display: none;
	font-weight: 700;
	line-height: 1.36;
	font-size: 1.6rem
}

#gnb-root ._1knjz49k {
	display: none
}

#gnb-root ._1knjz49l {
	font-weight: 700;
	line-height: 1.42;
	font-size: 1.1008rem;
	background-color: var(- -seed-scale-color-carrot-500);
	color: var(- -seed-scale-color-gray-00);
	padding: 0.4rem 1.2rem;
	display: flex;
	white-space: nowrap;
	justify-content: center;
	align-items: center;
	border: 1px solid var(- -seed-scale-color-carrot-500);
	border-radius: 0.4rem;
	cursor: pointer
}

#gnb-root ._1knjz49m {
	display: inline-block
}

#gnb-root ._1knjz49n {
	display: flex;
	flex-direction: column
}

#gnb-root ._1knjz49o {
	display: inline-block;
	margin: 0
}

#gnb-root ._1knjz49p {
	font-weight: 700;
	line-height: 1.4;
	font-size: 1.4rem;
	color: var(- -seed-scale-color-gray-700);
	font-style: normal;
	margin-right: 3rem
}

#gnb-root ._1knjz49p:hover {
	color: var(- -seed-scale-color-gray-600)
}

#gnb-root ._1knjz49q {
	color: var(- -seed-scale-color-carrot-500)
}

#gnb-root ._1knjz49q:hover {
	color: var(- -seed-scale-color-carrot-600)
}

#gnb-root ._1knjz49r {
	background-color: var(- -seed-scale-color-gray-00);
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
	transform: translateY(-1.6rem);
	opacity: 0;
	transition: transform .3s, opacity .1s;
	padding: 0.8rem 1.6rem;
	box-sizing: border-box
}

#gnb-root ._1knjz49s {
	font-weight: 700;
	line-height: 1.4;
	font-size: 1.4rem;
	margin: 0;
	padding-top: 0.4rem;
	padding-right: 0;
	padding-bottom: 0.4rem;
	padding-left: 0;
	color: var(- -seed-scale-color-gray-600)
}

#gnb-root ._1knjz49t {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 0
}

#gnb-root ._1knjz49u {
	line-height: 1.4;
	font-size: 1.4rem;
	outline: 0;
	margin: 0;
	width: 50%;
	padding: 1.6rem 0;
	border-bottom: 1px solid var(- -seed-scale-color-gray-200);
	cursor: pointer;
	list-style: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased
}

#gnb-root ._1knjz49u:last-child {
	border-bottom: none
}

#gnb-root ._1knjz49u:nth-last-child(2) {
	border-bottom: none
}

#gnb-root ._1knjz49v {
	background-color: var(- -seed-scale-color-gray-00);
	display: block;
	width: 100%;
	overflow: hidden;
	transform: translateY(-1.6rem);
	opacity: 0;
	transition: transform .3s, opacity .1s;
	border-top: 1px solid var(- -seed-scale-color-gray-200)
}

#gnb-root ._1knjz49w {
	opacity: 1;
	transform: translateY(0)
}

#gnb-root ._1knjz49x {
	display: none
}

#gnb-root ._1knjz49y {
	color: var(- -seed-scale-color-gray-700);
	text-decoration: none;
	padding: 1.6rem;
	display: block;
	opacity: 1;
	transition: opacity .3s;
	font-size: 1.6rem
}

#gnb-root ._1knjz49y:hover {
	background-color: var(- -seed-scale-color-gray-200)
}

#gnb-root ._1knjz49z {
	color: #ff7e36
}

#gnb-root ._1knjz4910 {
	opacity: 1
}

#gnb-root ._1knjz4912 {
	background: rgba(23, 23, 26);
	opacity: .5;
	position: absolute;
	width: 100%;
	height: 100vh
}

#gnb-root ._1knjz497>svg>path {
	fill: var(- -seed-scale-color-gray-900)
}

#gnb-root ._1knjz496>svg>path {
	fill: var(- -seed-scale-color-gray-900)
}

@media screen and (min-width: 768px) {
	#gnb-root ._1knjz491 {
		max-width: 120rem;
		height: 6.4rem
	}
	#gnb-root ._1knjz496 {
		display: none
	}
	#gnb-root ._1knjz49b {
		line-height: 1.36;
		font-size: 1.6rem;
		letter-spacing: -1%
	}
	#gnb-root ._1knjz49d {
		line-height: 1.32;
		font-size: 1.8rem;
		letter-spacing: -1%
	}
	#gnb-root ._1knjz49j {
		line-height: 1.3;
		font-size: 1.6rem;
		letter-spacing: -2%;
		display: block;
		white-space: nowrap;
		background-color: var(- -seed-scale-color-gray-00);
		color: var(- -seed-scale-color-gray-900);
		padding-left: 1.6rem;
		padding-right: 1.6rem
	}
	#gnb-root ._1knjz49k {
		display: flex;
		align-items: center;
		width: 100%;
		padding-top: 0;
		padding-right: 4rem;
		padding-bottom: 0;
		padding-left: 0
	}
	#gnb-root ._1knjz49l {
		line-height: 1.4;
		font-size: 1.4rem;
		display: none
	}
	#gnb-root ._1knjz49p, #gnb-root ._1knjz49s, #gnb-root ._1knjz49u {
		line-height: 1.32;
		font-size: 1.8rem;
		letter-spacing: -2%
	}
	#gnb-root ._1knjz49v {
		display: none
	}
}

@media screen and (min-width: 992px) {
	#gnb-root ._1knjz497, #gnb-root ._1knjz498 {
		display: none
	}
	#gnb-root ._1knjz499 {
		display: block;
		position: relative;
		margin-right: 1.2rem
	}
	#gnb-root ._1knjz49a {
		display: none
	}
	#gnb-root ._1knjz49b {
		width: 28.8rem
	}
	#gnb-root ._1knjz49r {
		display: none
	}
}

#footer-root .light-theme { -
	-seed-static-color-static-black: #000000; -
	-seed-static-color-static-white: #ffffff; -
	-seed-static-color-static-gray-900: #212124; -
	-seed-static-color-static-carrot-50: #fff5f0; -
	-seed-static-color-static-carrot-800: #cc4700; -
	-seed-static-color-static-green-50: #e8faf6; -
	-seed-static-color-static-green-800: #008c72; -
	-seed-static-color-static-yellow-50: #fff7e6; -
	-seed-static-color-static-yellow-800: #ba5e02; -
	-seed-static-color-static-red-50: #fff3f2; -
	-seed-static-color-static-red-800: #e81300; -
	-seed-static-color-static-blue-50: #ebf7fa; -
	-seed-static-color-static-blue-800: #0a85b5; -
	-seed-static-color-static-black-alpha-200: #00000033; -
	-seed-static-color-static-black-alpha-500: #00000080; -
	-seed-static-color-static-white-alpha-50: #ffffff0d; -
	-seed-static-color-static-white-alpha-200: #ffffff33; -
	-seed-semantic-color-on-primary: var(- -seed-static-color-static-white);
	-
	-seed-semantic-color-overlay-low: var(- -seed-static-color-static-black-alpha-200);
	-
	-seed-semantic-color-overlay-dim: var(- -seed-static-color-static-black-alpha-500);
	-
	-seed-semantic-color-on-primary-overlay-50: var(- -seed-static-color-static-white-alpha-50);
	-
	-seed-semantic-color-on-primary-overlay-200: var(- -seed-static-color-static-white-alpha-200);
	-
	-seed-scale-dimension-font-size-10: 10px; -
	-seed-scale-dimension-font-size-25: 11px; -
	-seed-scale-dimension-font-size-50: 12px; -
	-seed-scale-dimension-font-size-75: 13px; -
	-seed-scale-dimension-font-size-100: 14px; -
	-seed-scale-dimension-font-size-150: 15px; -
	-seed-scale-dimension-font-size-200: 16px; -
	-seed-scale-dimension-font-size-300: 18px; -
	-seed-scale-dimension-font-size-400: 20px; -
	-seed-scale-dimension-font-size-500: 24px; -
	-seed-scale-dimension-font-size-600: 26px; -
	-seed-scale-dimension-font-size-700: 32px; -
	-seed-scale-dimension-font-size-800: 34px; -
	-seed-scale-dimension-font-size-900: 42px; -
	-seed-scale-dimension-font-size-1000: 48px; -
	-seed-scale-dimension-font-size-1100: 54px; -
	-seed-scale-dimension-font-size-1200: 60px; -
	-seed-scale-dimension-font-size-1300: 72px; -
	-seed-semantic-typography-h1-font-size: var(- -seed-scale-dimension-font-size-1000);
	-
	-seed-semantic-typography-h2-font-size: var(- -seed-scale-dimension-font-size-900);
	-
	-seed-semantic-typography-h3-font-size: var(- -seed-scale-dimension-font-size-800);
	-
	-seed-semantic-typography-h4-font-size: var(- -seed-scale-dimension-font-size-600);
	-
	-seed-semantic-typography-title1-bold-font-size: var(- -seed-scale-dimension-font-size-500);
	-
	-seed-semantic-typography-title1-regular-font-size: var(- -seed-scale-dimension-font-size-500);
	-
	-seed-semantic-typography-title2-bold-font-size: var(- -seed-scale-dimension-font-size-400);
	-
	-seed-semantic-typography-title2-regular-font-size: var(- -seed-scale-dimension-font-size-400);
	-
	-seed-semantic-typography-title3-bold-font-size: var(- -seed-scale-dimension-font-size-300);
	-
	-seed-semantic-typography-title3-regular-font-size: var(- -seed-scale-dimension-font-size-300);
	-
	-seed-semantic-typography-subtitle1-bold-font-size: var(- -seed-scale-dimension-font-size-200);
	-
	-seed-semantic-typography-subtitle1-regular-font-size: var(- -seed-scale-dimension-font-size-200);
	-
	-seed-semantic-typography-subtitle2-bold-font-size: var(- -seed-scale-dimension-font-size-100);
	-
	-seed-semantic-typography-subtitle2-regular-font-size: var(- -seed-scale-dimension-font-size-100);
	-
	-seed-semantic-typography-body-l1-bold-font-size: var(- -seed-scale-dimension-font-size-200);
	-
	-seed-semantic-typography-body-l1-regular-font-size: var(- -seed-scale-dimension-font-size-200);
	-
	-seed-semantic-typography-body-l2-bold-font-size: var(- -seed-scale-dimension-font-size-100);
	-
	-seed-semantic-typography-body-l2-regular-font-size: var(- -seed-scale-dimension-font-size-100);
	-
	-seed-semantic-typography-body-m1-bold-font-size: var(- -seed-scale-dimension-font-size-200);
	-
	-seed-semantic-typography-body-m1-regular-font-size: var(- -seed-scale-dimension-font-size-200);
	-
	-seed-semantic-typography-body-m2-bold-font-size: var(- -seed-scale-dimension-font-size-100);
	-
	-seed-semantic-typography-body-m2-regular-font-size: var(- -seed-scale-dimension-font-size-100);
	-
	-seed-semantic-typography-caption1-bold-font-size: var(- -seed-scale-dimension-font-size-75);
	-
	-seed-semantic-typography-caption1-regular-font-size: var(- -seed-scale-dimension-font-size-75);
	-
	-seed-semantic-typography-caption2-bold-font-size: var(- -seed-scale-dimension-font-size-50);
	-
	-seed-semantic-typography-caption2-regular-font-size: var(- -seed-scale-dimension-font-size-50);
	-
	-seed-semantic-typography-label1-bold-font-size: var(- -seed-scale-dimension-font-size-300);
	-
	-seed-semantic-typography-label1-regular-font-size: var(- -seed-scale-dimension-font-size-300);
	-
	-seed-semantic-typography-label2-bold-font-size: var(- -seed-scale-dimension-font-size-200);
	-
	-seed-semantic-typography-label2-regular-font-size: var(- -seed-scale-dimension-font-size-200);
	-
	-seed-semantic-typography-label3-bold-font-size: var(- -seed-scale-dimension-font-size-100);
	-
	-seed-semantic-typography-label3-regular-font-size: var(- -seed-scale-dimension-font-size-100);
	-
	-seed-semantic-typography-label4-bold-font-size: var(- -seed-scale-dimension-font-size-50);
	-
	-seed-semantic-typography-label4-regular-font-size: var(- -seed-scale-dimension-font-size-50);
	-
	-seed-semantic-typography-label5-bold-font-size: var(- -seed-scale-dimension-font-size-25);
	-
	-seed-semantic-typography-label5-regular-font-size: var(- -seed-scale-dimension-font-size-25);
	-
	-seed-semantic-typography-label6-bold-font-size: var(- -seed-scale-dimension-font-size-10);
	-
	-seed-semantic-typography-label6-regular-font-size: var(- -seed-scale-dimension-font-size-10);
	-
	-seed-static-font-weight-regular: normal; -
	-seed-static-font-weight-bold: bold; -
	-seed-semantic-typography-h1-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-h2-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-h3-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-h4-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-title1-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-title1-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-title2-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-title2-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-title3-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-title3-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-subtitle1-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-subtitle1-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-subtitle2-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-subtitle2-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-body-l1-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-body-l1-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-body-l2-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-body-l2-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-body-m1-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-body-m1-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-body-m2-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-body-m2-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-caption1-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-caption1-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-caption2-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-caption2-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-label1-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-label1-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-label2-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-label2-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-label3-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-label3-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-label4-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-label4-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-label5-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-label5-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-semantic-typography-label6-bold-font-weight: var(- -seed-static-font-weight-bold);
	-
	-seed-semantic-typography-label6-regular-font-weight: var(- -seed-static-font-weight-regular);
	-
	-seed-static-line-height-static-small: 135%; -
	-seed-static-line-height-static-medium: 150%; -
	-seed-static-line-height-static-large: 162%; -
	-seed-semantic-typography-h1-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-h2-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-h3-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-h4-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-title1-bold-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-title1-regular-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-title2-bold-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-title2-regular-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-title3-bold-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-title3-regular-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-subtitle1-bold-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-subtitle1-regular-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-subtitle2-bold-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-subtitle2-regular-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-body-l1-bold-line-height: var(- -seed-static-line-height-static-large);
	-
	-seed-semantic-typography-body-l1-regular-line-height: var(- -seed-static-line-height-static-large);
	-
	-seed-semantic-typography-body-l2-bold-line-height: var(- -seed-static-line-height-static-medium);
	-
	-seed-semantic-typography-body-l2-regular-line-height: var(- -seed-static-line-height-static-medium);
	-
	-seed-semantic-typography-body-m1-bold-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-body-m1-regular-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-body-m2-bold-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-body-m2-regular-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-caption1-bold-line-height: var(- -seed-static-line-height-static-medium);
	-
	-seed-semantic-typography-caption1-regular-line-height: var(- -seed-static-line-height-static-medium);
	-
	-seed-semantic-typography-caption2-bold-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-caption2-regular-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-label1-bold-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-label1-regular-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-label2-bold-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-label2-regular-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-label3-bold-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-label3-regular-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-label4-bold-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-label4-regular-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-label5-bold-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-label5-regular-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-label6-bold-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-semantic-typography-label6-regular-line-height: var(- -seed-static-line-height-static-small);
	-
	-seed-scale-color-gray-00: #ffffff; -
	-seed-scale-color-gray-50: #f7f8fa; -
	-seed-scale-color-gray-100: #f2f3f6; -
	-seed-scale-color-gray-200: #eaebee; -
	-seed-scale-color-gray-300: #dcdee3; -
	-seed-scale-color-gray-400: #d1d3d8; -
	-seed-scale-color-gray-500: #adb1ba; -
	-seed-scale-color-gray-600: #868b94; -
	-seed-scale-color-gray-700: #4d5159; -
	-seed-scale-color-gray-800: #393a40; -
	-seed-scale-color-gray-900: #212124; -
	-seed-scale-color-carrot-50: #fff5f0; -
	-seed-scale-color-carrot-100: #ffe2d2; -
	-seed-scale-color-carrot-200: #ffd2b9; -
	-seed-scale-color-carrot-300: #ffbc97; -
	-seed-scale-color-carrot-400: #ff9e66; -
	-seed-scale-color-carrot-500: #ff6f0f; -
	-seed-scale-color-carrot-600: #fa6616; -
	-seed-scale-color-carrot-700: #f05705; -
	-seed-scale-color-carrot-800: #cc4700; -
	-seed-scale-color-carrot-900: #b44104; -
	-seed-scale-color-carrot-950: #a03a03; -
	-seed-scale-color-blue-50: #ebf7fa; -
	-seed-scale-color-blue-100: #d2edfa; -
	-seed-scale-color-blue-200: #b9e3fa; -
	-seed-scale-color-blue-300: #87d7ff; -
	-seed-scale-color-blue-400: #57c7ff; -
	-seed-scale-color-blue-500: #009ceb; -
	-seed-scale-color-blue-600: #0088cc; -
	-seed-scale-color-blue-700: #0077b2; -
	-seed-scale-color-blue-800: #006199; -
	-seed-scale-color-blue-900: #004c73; -
	-seed-scale-color-blue-950: #003b59; -
	-seed-scale-color-red-50: #fff3f2; -
	-seed-scale-color-red-100: #ffe5e3; -
	-seed-scale-color-red-200: #fcd2cf; -
	-seed-scale-color-red-300: #ffaca6; -
	-seed-scale-color-red-400: #ff7e75; -
	-seed-scale-color-red-500: #ff4133; -
	-seed-scale-color-red-600: #fa2314; -
	-seed-scale-color-red-700: #e81607; -
	-seed-scale-color-red-800: #a62014; -
	-seed-scale-color-red-900: #910c00; -
	-seed-scale-color-red-950: #821006; -
	-seed-scale-color-green-50: #e8faf6; -
	-seed-scale-color-green-100: #c7f2e4; -
	-seed-scale-color-green-200: #96ebc3; -
	-seed-scale-color-green-300: #6adeac; -
	-seed-scale-color-green-400: #30c795; -
	-seed-scale-color-green-500: #1aa174; -
	-seed-scale-color-green-600: #128c6e; -
	-seed-scale-color-green-700: #077a5e; -
	-seed-scale-color-green-800: #06614a; -
	-seed-scale-color-green-900: #004f40; -
	-seed-scale-color-green-950: #004034; -
	-seed-scale-color-yellow-50: #fff7e6; -
	-seed-scale-color-yellow-100: #ffe3ba; -
	-seed-scale-color-yellow-200: #facc87; -
	-seed-scale-color-yellow-300: #f7be68; -
	-seed-scale-color-yellow-400: #dea651; -
	-seed-scale-color-yellow-500: #c27f29; -
	-seed-scale-color-yellow-600: #a66c21; -
	-seed-scale-color-yellow-700: #805217; -
	-seed-scale-color-yellow-800: #6b4717; -
	-seed-scale-color-yellow-900: #593d17; -
	-seed-scale-color-yellow-950: #4d361a; -
	-seed-scale-color-pink-50: #fff5f5; -
	-seed-scale-color-pink-100: #ffdddb; -
	-seed-scale-color-pink-200: #ffbfc5; -
	-seed-scale-color-pink-300: #ffadb4; -
	-seed-scale-color-pink-400: #ff8a9d; -
	-seed-scale-color-pink-500: #f0657c; -
	-seed-scale-color-pink-600: #db4b6a; -
	-seed-scale-color-pink-700: #bd2b5c; -
	-seed-scale-color-pink-800: #991c45; -
	-seed-scale-color-pink-900: #800d3d; -
	-seed-scale-color-pink-950: #660a30; -
	-seed-scale-color-purple-50: #f6f4fe; -
	-seed-scale-color-purple-100: #e3dafe; -
	-seed-scale-color-purple-200: #d5c7ff; -
	-seed-scale-color-purple-300: #cfbfff; -
	-seed-scale-color-purple-400: #b69eff; -
	-seed-scale-color-purple-500: #9675fa; -
	-seed-scale-color-purple-600: #8361e8; -
	-seed-scale-color-purple-700: #6748c7; -
	-seed-scale-color-purple-800: #4f3699; -
	-seed-scale-color-purple-900: #3f2687; -
	-seed-scale-color-purple-950: #331e70; -
	-seed-scale-color-gray-alpha-50: #0000000d; -
	-seed-scale-color-gray-alpha-100: #0000001a; -
	-seed-scale-color-gray-alpha-200: #00000033; -
	-seed-scale-color-gray-alpha-500: #00000080; -
	-seed-scale-color-carrot-alpha-50: #ff6f0f0d; -
	-seed-scale-color-carrot-alpha-100: #ff6f0f24; -
	-seed-scale-color-carrot-alpha-200: #ff6f0f33; -
	-seed-scale-color-blue-alpha-50: #009ceb0d; -
	-seed-scale-color-blue-alpha-100: #009ceb1a; -
	-seed-scale-color-blue-alpha-200: #009ceb33; -
	-seed-scale-color-red-alpha-50: #ff41330d; -
	-seed-scale-color-red-alpha-100: #ff41331a; -
	-seed-scale-color-red-alpha-200: #ff413333; -
	-seed-scale-color-yellow-alpha-50: #f7be6814; -
	-seed-scale-color-yellow-alpha-100: #f7be6824; -
	-seed-scale-color-yellow-alpha-200: #f7be683d; -
	-seed-scale-color-green-alpha-50: #1aa1740d; -
	-seed-scale-color-green-alpha-100: #1aa17424; -
	-seed-scale-color-green-alpha-200: #1aa17433; -
	-seed-semantic-color-primary: var(- -seed-scale-color-carrot-500); -
	-seed-semantic-color-primary-low: var(- -seed-scale-color-carrot-alpha-100);
	-
	-seed-semantic-color-secondary: var(- -seed-scale-color-gray-900); -
	-seed-semantic-color-secondary-low: var(- -seed-scale-color-gray-alpha-50);
	-
	-seed-semantic-color-success: var(- -seed-scale-color-green-500); -
	-seed-semantic-color-success-low: var(- -seed-scale-color-green-alpha-50);
	-
	-seed-semantic-color-warning: var(- -seed-scale-color-yellow-400); -
	-seed-semantic-color-warning-low: var(- -seed-scale-color-yellow-alpha-100);
	-
	-seed-semantic-color-danger: var(- -seed-scale-color-red-600); -
	-seed-semantic-color-danger-low: var(- -seed-scale-color-red-alpha-50);
	-
	-seed-semantic-color-paper-sheet: var(- -seed-scale-color-gray-00); -
	-seed-semantic-color-paper-dialog: var(- -seed-scale-color-gray-00); -
	-seed-semantic-color-paper-floating: var(- -seed-scale-color-gray-00);
	-
	-seed-semantic-color-paper-contents: var(- -seed-scale-color-gray-50);
	-
	-seed-semantic-color-paper-default: var(- -seed-scale-color-gray-00); -
	-seed-semantic-color-paper-background: var(- -seed-scale-color-gray-100);
	-
	-seed-semantic-color-paper-accent: var(- -seed-scale-color-carrot-50);
	-
	-seed-semantic-color-primary-hover: var(- -seed-scale-color-carrot-400);
	-
	-seed-semantic-color-primary-pressed: var(- -seed-scale-color-carrot-400);
	-
	-seed-semantic-color-primary-low-hover: var(- -seed-scale-color-carrot-alpha-200);
	-
	-seed-semantic-color-primary-low-active: var(- -seed-scale-color-carrot-alpha-200);
	-
	-seed-semantic-color-primary-low-pressed: var(- -seed-scale-color-carrot-alpha-200);
	-
	-seed-semantic-color-gray-hover: var(- -seed-scale-color-gray-100); -
	-seed-semantic-color-gray-pressed: var(- -seed-scale-color-gray-100); -
	-seed-semantic-color-on-primary-low-overlay-50: var(- -seed-scale-color-carrot-alpha-50);
	-
	-seed-semantic-color-on-primary-low-overlay-100: var(- -seed-scale-color-carrot-alpha-100);
	-
	-seed-semantic-color-on-primary-low-overlay-200: var(- -seed-scale-color-carrot-alpha-200);
	-
	-seed-semantic-color-on-gray-overlay-50: var(- -seed-scale-color-gray-alpha-50);
	-
	-seed-semantic-color-on-gray-overlay-100: var(- -seed-scale-color-gray-alpha-100);
	-
	-seed-semantic-color-text-selection: var(- -seed-scale-color-carrot-50);
	-
	-seed-semantic-color-divider-1: var(- -seed-scale-color-gray-alpha-50);
	-
	-seed-semantic-color-divider-2: var(- -seed-scale-color-gray-200); -
	-seed-semantic-color-divider-3: var(- -seed-scale-color-gray-300); -
	-seed-semantic-color-accent: var(- -seed-scale-color-blue-500); -
	-seed-semantic-color-ink-text: var(- -seed-scale-color-gray-900); -
	-seed-semantic-color-ink-text-low: var(- -seed-scale-color-gray-600); -
	-seed-semantic-color-gray-active: var(- -seed-scale-color-gray-700)
}

#footer-root ._1s38h9c0 {
	display: flex;
	align-items: center
}

#footer-root ._1s38h9c1 {
	display: flex;
	justify-content: center
}

#footer-root ._1s38h9c2 {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent
}

#footer-root ._1s38h9c3 {
	appearance: none;
	border: 0;
	background: none;
	padding: 0
}

#footer-root ._1s38h9c4 {
	text-decoration: none
}

#footer-root ._1s38h9c5 {
	list-style: none;
	padding: 0;
	margin: 0
}

#footer-root ._1y9kelh0 {
	background-color: var(- -seed-semantic-color-paper-default);
	color: var(- -seed-scale-color-gray-900);
	padding: 0 1.6rem 2rem
}

#footer-root ._1y9kelh0:not(:last-child) {
	margin-bottom: 0.8rem
}

#footer-root ._1y9kelh1 {
	font-weight: 700;
	line-height: 1.36;
	font-size: 1.6rem;
	padding: 1.6rem 0
}

#footer-root ._1y9kelh2 {
	max-width: 76.8rem;
	margin: 0 auto
}

@media screen and (min-width: 768px) {
	#footer-root ._1y9kelh0 {
		padding: 0
	}
	#footer-root ._1y9kelh0:not(:last-child) {
		margin-bottom: 5.6rem
	}
	#footer-root ._1y9kelh1 {
		line-height: 1.3;
		font-size: 2rem;
		letter-spacing: -2%
	}
}

#footer-root ._1trxeqs0 {
	background-color: var(- -seed-semantic-color-paper-default);
	color: var(- -seed-scale-color-gray-900);
	border-top: 1px solid var(- -seed-scale-color-gray-200);
	padding: 0 1.6rem;
	box-sizing: border-box;
	width: 100%;
	max-width: 100vw
}

#footer-root ._1trxeqs1 {
	display: flex;
	flex-direction: column
}

#footer-root ._1trxeqs2 {
	display: flex;
	margin-bottom: 2rem
}

#footer-root ._1trxeqs3 {
	font-weight: 700;
	line-height: 1.5;
	font-size: 1.3008rem
}

#footer-root ._1trxeqs4 {
	display: flex;
	margin-left: 2.4rem
}

#footer-root ._1trxeqs4:not(:first-child) {
	margin-left: 1.6rem
}

#footer-root ._1trxeqs5 {
	font-weight: 700;
	line-height: 1.5;
	font-size: 1.3008rem;
	color: var(- -seed-scale-color-gray-900);
	margin-right: 0.8rem
}

#footer-root ._1trxeqs6 {
	color: var(- -seed-scale-color-gray-900);
	margin-right: 0.6rem
}

#footer-root ._1trxeqs7 {
	display: flex
}

#footer-root ._1trxeqs8 {
	display: none
}

#footer-root ._1trxeqs8>svg>rect {
	fill: var(- -seed-scale-color-gray-100)
}

#footer-root ._1trxeqs8>svg>path {
	fill: var(- -seed-scale-color-gray-900)
}

#footer-root ._1trxeqs8:hover>svg>path {
	opacity: .5
}

#footer-root ._1trxeqs9 {
	line-height: 1.5;
	font-size: 1.3008rem;
	display: flex;
	max-width: 76.8rem
}

#footer-root ._1trxeqsa {
	display: flex;
	flex-direction: column;
	padding-inline-start: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	width: 33%
}

#footer-root ._1trxeqsa:last-child {
	margin-right: 15%
}

#footer-root ._1trxeqsb {
	line-height: 1.3;
	font-size: 1.2rem;
	margin-bottom: 1.6rem;
	flex-wrap: wrap;
	color: var(- -seed-scale-color-gray-600)
}

#footer-root ._1trxeqsc {
	margin: 0 0.4rem
}

#footer-root ._1trxeqsd {
	font-style: normal
}

#footer-root ._1trxeqse {
	flex-wrap: wrap;
	display: flex
}

#footer-root ._1trxeqsf {
	font-weight: 700;
	line-height: 1.3;
	font-size: 1.2rem;
	white-space: nowrap;
	color: var(- -seed-scale-color-gray-600)
}

#footer-root ._1trxeqsf:not(:last-child) {
	margin-right: 1.6rem
}

#footer-root ._1trxeqsf:hover {
	text-decoration: underline
}

#footer-root ._1trxeqsg {
	color: var(- -seed-scale-color-gray-700)
}

#footer-root ._1trxeqsh {
	padding: 4.8rem 0
}

#footer-root ._1trxeqsi {
	padding: 2.4rem 0 10rem;
	border-top: 1px solid var(- -seed-scale-color-gray-200)
}

#footer-root ._1trxeqsj {
	margin-bottom: 1.6rem
}

#footer-root ._1trxeqsk {
	margin-top: 2.4rem;
	display: flex;
	align-items: center
}

#footer-root ._1trxeqsl {
	padding-top: 0.4rem
}

#footer-root ._1trxeqsl:hover {
	opacity: 64%
}

#footer-root ._1trxeqsm {
	color: var(- -seed-scale-color-gray-600);
	display: flex;
	align-items: center;
	padding: 0.8rem;
	border-radius: 0.4rem;
	cursor: pointer
}

#footer-root ._1trxeqsm:hover {
	background-color: var(- -seed-scale-color-gray-100)
}

#footer-root ._1trxeqsn {
	background-color: var(- -seed-scale-color-gray-00);
	color: var(- -seed-scale-color-gray-600);
	padding-left: 0.4rem;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.1rem;
	cursor: pointer
}

#footer-root ._1trxeqsn:focus {
	outline: 0
}

#footer-root ._1trxeqsn:hover {
	background-color: var(- -seed-scale-color-gray-100)
}

#footer-root ._1trxeqso {
	text-decoration: none;
	outline: 0
}

#footer-root ._1trxeqs3>._1trxeqso {
	color: var(- -seed-scale-color-gray-900)
}

#footer-root ._1trxeqs9 ._1trxeqso {
	color: var(- -seed-scale-color-gray-900)
}

#footer-root ._1trxeqsk>._1trxeqso:not(:last-child) {
	margin-right: 1.6rem
}

#footer-root ._1trxeqsp {
	width: fit-content;
	list-style: none
}

#footer-root ._1trxeqsa ._1trxeqsp:not(:last-child) {
	margin-bottom: 1.6rem
}

#footer-root ._1trxeqsa ._1trxeqsp:hover {
	text-decoration: underline
}

@media screen and (min-width: 768px) {
	#footer-root ._1trxeqs2 {
		float: right;
		margin-bottom: 0;
		display: flex;
		flex-direction: column
	}
	#footer-root ._1trxeqs3 {
		line-height: 1.4;
		font-size: 1.4rem
	}
	#footer-root ._1trxeqs4 {
		margin-top: 0.8rem;
		margin-left: 0
	}
	#footer-root ._1trxeqs4:not(:first-child) {
		margin-left: 1rem
	}
	#footer-root ._1trxeqs5 {
		line-height: 1.4;
		font-size: 1.4rem;
		display: none
	}
	#footer-root ._1trxeqs6 {
		display: none
	}
	#footer-root ._1trxeqs8 {
		display: block
	}
	#footer-root ._1trxeqs9 {
		line-height: 1.4;
		font-size: 1.4rem
	}
	#footer-root ._1trxeqsb, #footer-root ._1trxeqsf {
		line-height: 1.5;
		font-size: 1.3008rem
	}
	#footer-root ._1trxeqsi {
		display: flex;
		justify-content: space-between;
		align-items: flex-start
	}
	#footer-root ._1trxeqsk {
		margin-top: 0
	}
}
</style>